/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Reset de margens e preenchimentos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Remova a borda em volta do site todo */
body {
    font-family: Arial, sans-serif;
    border: none;
}

/* Estilo para a imagem no cabeçalho */
header img {
    vertical-align: middle;
}

/* Estilo para o elemento h1 */
h1 {
    color: #e67e22;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 24px;
}

/* Estilo para a barra de navegação */
nav {
    text-align: center;
}

/* Estilo para a lista não ordenada na barra de navegação */
nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* Estilo para cada item de navegação na barra de navegação */
nav ul li {
    margin-right: 20px;
    position: relative;
    font-size: 18px;
}

/* Adicione uma separação visual entre os itens do menu */
nav ul li:not(:last-child):after {
    content: " | ";
    margin-left: 10px;
    color: #e67e22;
}

/* Adicione um quadrado antes de cada item do menu */
nav ul li:before {
    content: "\25A0";
    margin-right: 10px;
    color: #e67e22;
    font-size: 18px;
}

/* Estilo para o conteúdo principal */
main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    grid-gap: 20px; /* Espaço entre os destinos */
}

/* Estilo para o contêiner dos destinos */
.destinations-container {
    border: 2px solid #ccc; /* Adicione uma borda ao contêiner */
    padding: 10px;
}

/* Estilo para cada destino */
.destination {
    text-align: center;
    font-size: 18px; /* Tamanho da fonte aumentado */
    border: 1px solid #ccc; /* Adicione uma borda aos destinos individuais */
    padding: 10px;
}

/* Estilo para a imagem dentro de cada destino */
.destination img {
    max-width: 100%;
    height: auto;
    display: block; /* Remover espaço extra abaixo da imagem */
    margin: 0 auto; /* Centralizar a imagem horizontalmente */
}

/* Estilo para o título e descrição do destino */
.destination h3 {
    margin: 10px 0;
    font-size: 18px; /* Tamanho da fonte aumentado */
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
